<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="vendors/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/style.css">

    <script type="text/javascript" src="vendors/jquery.min.js"></script>
    <script type="text/javascript" src="assets/scripts/admin.js"></script>

</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>Zeta Message Board<br><small>Admin Mode</small></h1>
    </div>
    <div class="row">
        <div id="left" class="col-md-4 col-sm-4">
            <form id="messageForm">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter Name">
                </div>

                <div>
                    <label for="name">Message</label>
                    <textarea type="text" id="message" name="message" placeholder="Enter Message" rows="10" cols="35"></textarea>
                </div>
                <button id="submit" class="btn btn-success">Submit Message</button>
            </form>
        </div>
        <div id="messageContainer" class="col-md-7 col-md-offset-1 col-sm-8"></div>
    </div>
</div>
</body>
</html>